/* main.css */
* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: #e6e3db;
}
/* navbar style */
.navbar {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0px;
    text-align: center;
    border-width: 0px;
}
.nav.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.nav.navbar-nav li a {
    color: #ac9c82;
}
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
    color: #9a8c75;
    background-color: #212426;
}
.navbar-always-fixed {
    background-color: #212426;
}
.navbar button i{
    color: #ac9c82;
}
.navbar-title {
    background-color: #181a1b;
    border-radius: 0px;
}
.navbar-brand {
    color: #fff;
}
.navbar-brand:hover {
    color: #e5e5e5;
}

/* header/footer style */
header {
    text-align: center;
    margin-top: 120px;
    background-color: #008986;
}
@media (min-width: 768px) {
    header {
        margin-top: 100px;
    }
}
.jumbotron {
    background-color: #008986;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: 0px;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 75px;
    background-color: #1f2324;
    text-transform: uppercase;
    font-weight: 800;
}
.footer p {
    color: #b0a084;
    text-align: right;
}
/* links */
a,
a:link,
a:focus {
    color: #00b6a0;
    text-decoration: none;
}
a:hover,
a:active:focus {
    color: #d87600;
}
.btn,
.btn:focus {
    padding: 6px 24px;
    background-color: #005e5d;
    border: 1px solid #005453;
    color: #fff;
}
.btn:hover,
.btn:active:focus {
    background-color: #d87600;
    border: 1px solid #c06900;
    color: #e5e5e5;
}
/* contents style */
section {
    margin-right: 25px;
    margin-left: 25px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 100px;
    height: 100%;
    background-color: #f2f1ed;
}
@media (min-width: 768px) {
    section {
        margin-right: 50px;
        margin-left: 50px;
    }
}
h1,h2,h3,h4 {
    text-transform: uppercase;
    font-weight: 800;
}
hr {
    border-top: 3px solid #e6e3db;
}
option {
    color: #555;
}
select {
    color: #555;
}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
   background-color: #e6e3db;
}
.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) > th {
   background-color: #f2f1ed;
}
/* pagination */
ul.pagination li a,
ul.pagination li a:focus {
	background-color: #9e9076;
	border: 1px solid #8c8069;
	color: #fff;
}
ul.pagination li a:hover,
ul.pagination li a:active:focus {
    background-color: #8c8069;
    border: 1px solid #8c8069;
    color: #fff;
}
ul.pagination .active a, 
ul.pagination .active a:hover,
ul.pagination .active a:active:focus, 
ul.pagination .active a:focus {
    background-color: #7b705c;
    border: 1px solid #7b705c;
}
ul.pagination .disabled a,
ul.pagination .disabled a:hover,
ul.pagination .disabled a:active:focus,
ul.pagination .disabled a:focus {
	background-color: #c7bca8;
    border: 1px solid #c7bca8;
    color: #fff;
}
