<!-- overlay.html -->
{% extends "layouts/base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/overlay.css' %}">
{% endblock %}

{% block overlay %}
<div id="overlay-habitats" class="overlay hide">
    <div class="box">
        <div class="title">Habitats</div>
        <a href="" class="close-btn" onclick="hide_overlay('habitats'); return false;">&times;</a>
        <div id="habitats-text" class="text curve">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            {% for habitat in habitats_descr %}
                <tr>
                    <td><strong>{{ habitat.habitat }}</strong></td>
                    <td class="col-sm-9 col-xs-8">{{ habitat.descr }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-regions" class="overlay hide">
    <div class="box">
        <div class="title">Regions</div>
        <a href="" class="close-btn" onclick="hide_overlay('regions'); return false;">&times;</a>
        <div id="regions-text" class="text curve">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            {% for region in regions_descr %}
                <tr>
                    <td><strong>{{ region.region }}</strong></td>
                    <td class="col-xs-8">{{ region.descr }}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-statuses" class="overlay hide">
    <div class="box">
        <div class="title">Statuses</div>
        <a href="" class="close-btn" onclick="hide_overlay('statuses'); return false;">&times;</a>
        <div id="statuses-text" class="text curve">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            {% for status in statuses_descr %}
                <tr>
                    <td><strong>{{ status.status }}</strong></td>
                    <td><strong>{{ status.descr }}</strong></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-families" class="overlay hide">
    <div class="box">
        <div class="title">Families</div>
        <a href="" class="close-btn" onclick="hide_overlay('families'); return false;">&times;</a>
        <div id="families-text" class="text curve">
            <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            {% for family in families_descr %}
            <tr>
                <td><strong>{{ family.family }}</strong></td>
                <td><strong>{{ family.descr }}</strong></td>
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-add-region" class="overlay hide">
    <div class="box">
        <div class="title">Create a Region</div>
        <a href="" class="close-btn" onclick="hide_overlay('add-region'); return false;">&times;</a>    
        <form method="post">{% csrf_token %}
            <div id="add-region-text" class="text">
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Region </strong>
                        <input name="new-region" type="text" class="form-control" placeholder="ex: oriental" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Description </strong>
                        <textarea name="region-descr" rows="2" cols="25" class="form-control" placeholder="ex: tropical asia" maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <div class="bottom curve">
                <div class="submit-btn">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" name="submit-add-region" value="Add"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-add-habitat" class="overlay hide">
    <div class="box">
        <div class="title">Create a Habitat</div>
        <a href="" class="close-btn" onclick="hide_overlay('add-habitat'); return false;">&times;</a>    
        <form method="post">{% csrf_token %}
            <div id="add-habitat-text" class="text">
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Habitat </strong>
                        <input name="new-habitat" type="text" class="form-control" placeholder="ex: forest" maxlength="25" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Description </strong>
                        <textarea name="habitat-descr" rows="2" cols="25" class="form-control" placeholder="ex: dominated by trees" maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <div class="bottom curve">
                <div class="submit-btn">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" name="submit-add-habitat" value="Add"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-add-family" class="overlay hide">
    <div class="box">
        <div class="title">Create a Family</div>
        <a href="" class="close-btn" onclick="hide_overlay('add-family'); return false;">&times;</a>    
        <form method="post">{% csrf_token %}
            <div id="add-family-text" class="text">
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Family </strong>
                        <input name="new-family" type="text" class="form-control" placeholder="ex: acanthuridae" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Order </strong>
                        <input name="ordr" type="text" class="form-control" placeholder="ex: perciformes" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Class </strong>
                        <input name="clss" type="text" class="form-control" placeholder="ex: actinopterygii" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Phylum </strong>
                        <input name="phylm" type="text" class="form-control" placeholder="ex: chordata" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Kingdom </strong>
                        <input name="kingdm" type="text" class="form-control" placeholder="ex: actinopterygii" maxlength="50" required>
                    </div>
                </div>
                <div class="form-group row left-margin">
                    <div class="col-sm-12">
                        <strong>Description </strong>
                        <textarea name="family-descr" rows="2" cols="25" class="form-control" placeholder="ex: surgeonfish;tang;unicornfish" maxlength="200"></textarea>
                    </div>
                </div>
            </div>
            <div class="bottom curve">
                <div class="submit-btn">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" name="submit-add-family" value="Add"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background"></div>
</div>
<div id="overlay-remove-region" class="overlay hide">
    <div class="box">
        <div class="title">Remove Regions</div>
        <a href="" class="close-btn" onclick="hide_overlay('remove-region'); return false;">&times;</a>    
        <form method="post">{% csrf_token %}
            <div id="remove-region-text" class="text">
            {% for region in regions %}
                <div class="col-sm-4 col-xs-6">
                    <input type="checkbox" name="remove-regions" value="{{ region }}">&nbsp;&nbsp;&nbsp;{{ region }}<br>
                </div>
            {% endfor %}
            </div>
            <div class="bottom curve">
                <div class="submit-btn">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" name="submit-remove-region" value="Remove"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-remove-habitat" class="overlay hide">
    <div class="box">
        <div class="title">Remove Habitats</div>
        <a href="" class="close-btn" onclick="hide_overlay('remove-habitat'); return false;">&times;</a>    
        <form method="post">{% csrf_token %}
            <div id="remove-habitat-text" class="text">
            {% for habitat in habitats %}
                <div class="col-sm-4 col-xs-6">
                    <input type="checkbox" name="remove-habitats" value="{{ habitat }}">&nbsp;&nbsp;&nbsp;{{ habitat }}<br>
                </div>
            {% endfor %}
            </div>
            <div class="bottom curve">
                <div class="submit-btn">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" name="submit-remove-habitat" value="Remove"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background"></div>
</div>

<div id="overlay-remove-family" class="overlay hide">
    <div class="box">
        <div class="title">Remove Families</div>
        <a href="" class="close-btn" onclick="hide_overlay('remove-family'); return false;">&times;</a>    
        <form method="post">{% csrf_token %}
            <div id="remove-family-text" class="text">
            {% for family in families %}
                <div class="col-sm-4 col-xs-6">
                    <input type="checkbox" name="remove-families" value="{{ family }}">&nbsp;&nbsp;&nbsp;{{ family }}<br>
                </div>
            {% endfor %}
            </div>
            <div class="bottom curve">
                <div class="submit-btn">
                    <div class="col-sm-12">
                        <input class="btn btn-primary" type="submit" name="submit-remove-family" value="Remove"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="background"></div>
</div>
{% endblock %}
