<!-- add_species.html -->

{% extends "layouts/overlay.html" %}

{% block page_title %}Add Species{% endblock %}

{% block jumbotron_name %}Add Species{% endblock %}
{% block jumbotron_description %}Add a species.{% endblock %}

{% block content %}
<br>
<form method="post">{% csrf_token %}
    <h3>Classification</h3>
    <hr>
    <div class="form-group row">
        <div class="col-sm-5 col-xs-12">
            <strong>Species </strong><input name="species" type="text" class="form-control" placeholder="ex: acanthurus olivaceus" maxlength="100" required>
        </div>
        <div class="col-sm-4 col-xs-6">
            <strong>Genus </strong><input name="genus" type="text" class="form-control" placeholder="ex: acanthurus" maxlength="50" required>
        </div>
        <div class="col-sm-3 col-xs-6">
            <label for="family"><strong>Family </strong></label>
            (<a href="" onclick="show_overlay('add-family'); return false;">+</a>/<a href="" onclick="show_overlay('remove-family'); return false;">-</a>)
            <br>
            <select name="family" id="family" >
            {% for family in families %}
                <option>{{ family }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <strong>Common Name(s) </strong><input name="common_name" type="text" class="form-control" placeholder="ex: Orangeshoulder Tang" maxlength="200" required>
        </div>
    </div>
    <h3>Information</h3>
    <hr>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="regions"><strong>Region </strong></label>
            (<a href="" onclick="show_overlay('add-region'); return false;">+</a>/<a href="" onclick="show_overlay('remove-region'); return false;">-</a>)
        </div>
        {% for region in regions %}
            <div class="col-md-2 col-sm-3 col-xs-4">
                <input type="checkbox" class="limit-regions" name="add-regions" value="{{ region }}">&nbsp;&nbsp;&nbsp;{{ region }}<br>
            </div>
        {% endfor %}
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="habitats"><strong>Habitat </strong></label>
            (<a href="" onclick="show_overlay('add-habitat'); return false;">+</a>/<a href="" onclick="show_overlay('remove-habitat'); return false;">-</a>)
        </div>
        {% for habitat in habitats %}
            <div class="col-md-2 col-sm-3 col-xs-4">
                <input type="checkbox" class="limit-habitats" name="add-habitats" value="{{ habitat }}">&nbsp;&nbsp;&nbsp;{{ habitat }}<br>
            </div>
        {% endfor %}
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <label for="status"><strong>Status </strong></label>
        </div>
        {% for status in statuses %}
            <div class="col-md-1 col-sm-2 col-xs-3">
                <input type="radio" name="add-status" value="{{ status }}">&nbsp;&nbsp;&nbsp;{{ status }}<br>
            </div>
        {% endfor %}
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-default right">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
