<!-- index.html -->

{% extends "layouts/base.html" %}

{% block page_title %}Home{% endblock %}

{% block jumbotron_name %}Paradigm{% endblock %}
{% block jumbotron_description %}Zootopia{% endblock %}

{% block content %}
<h3>Zoos</h3>

    {% for item in query_results %}
    <tr> 
        <td>{{ item.zoo_name }}</td>
        <td>{{ item.city }}</td>
        <td>{{ item.state }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.latitude }}</td>
        <td>{{ item.longitude }}</td>
        <td>{{ item.num_animals }}</td>
        <td>{{ item.acres }}</td>
    </tr>
    {% endfor %}

{% endblock %}
