<!-- list_species.html -->

{% extends "layouts/overlay.html" %}

{% block page_title %}List of Species{% endblock %}

{% block jumbotron_name %}List of Species{% endblock %}
{% block jumbotron_description %}A listing of all searcheable species.{% endblock %}

{% block content %}
<br>
<h4>Search Options</h4>
<form id="refine-search" method="post">{% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-3 col-xs-6">
            <label for="habitats">Habitat:</label>  (<a href="" onclick="show_overlay('habitats'); return false;">?</a>)
            <select multiple class="form-control" name="habitats" id="habitats" size="8">
            {% for habitat in select_habitats %}
                <option selected="selected">{{ habitat }}</option>
            {% endfor %}
            {% for habitat in habitats %}
                <option>{{ habitat }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-sm-3 col-xs-6">
            <label for="regions">Region:</label>  (<a href="" onclick="show_overlay('regions'); return false;">?</a>)
            <select multiple class="form-control" name="regions" id="regions" size="8">
            {% for region in select_regions %}
                <option selected="selected">{{ region }}</option>
            {% endfor %}
            {% for region in regions %}
                <option>{{ region }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-sm-2 col-xs-4">
            <label for="statuses">Status:</label>  (<a href="" onclick="show_overlay('statuses'); return false;">?</a>)
            <select multiple class="form-control" name="statuses" id="statuses" size="8">
            {% for status in select_statuses %}
                <option selected="selected">{{ status }}</option>
            {% endfor %}
            {% for status in statuses %}
                <option>{{ status }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="col-sm-4 col-xs-8">
            <label for="families">Family:</label>  (<a href="" onclick="show_overlay('families'); return false;">?</a>)
            <select multiple class="form-control" name="families" id="families" size="8">
            {% for family in select_families %}
                <option selected="selected">{{ family }}</option>
            {% endfor %}
            {% for family in families %}
                <option>{{ family }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <span class="pull-right">
            <input class="btn btn-primary" type="submit" name="update" value="Update"/>
            <input class="btn btn-default" type="submit" name="reset" value="Reset"/>
        </span>
    </div>
</form>
<hr>
{% if use_pagination == 1 %}
<table id="pagination" class="table table-striped table-bordered" cellspacing="0" width="100%">
{% else %}
<table class="table table-striped table-bordered" cellspacing="0" width="100%">
{% endif %}
    <thead>
        <tr>
            <th>Species</th>
            <th>Common Name</th>
        </tr>
    </thead>
    <tbody>
        {% for species in list_species %}
        <tr>
            <td><a href="" onclick="change_link(this,'/species/'); return false;">{{ species.0 }}</a></td>
            <td>{{ species.1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
