<!-- list_species.html -->

{% extends "layouts/base.html" %}

{% block page_title %}List of Species{% endblock %}

{% block jumbotron_name %}List of Species{% endblock %}
{% block jumbotron_description %}A listing of all searcheable species.{% endblock %}

{% block content %}
<br>
<div class="container">
    <form name="update" method="post">{% csrf_token %}
    </form>
</div>
<div class="container">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Species</th>
            <th>Common Name</th>
        </tr>
        {% for species in list_species %}
        <tr>
            <td><a href="{{ species.species }}" id="redirect">{{ species.species }}</a></td>
            <td>{{ species.common_name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block js %}
$(function() {
    $("#redirect").on("click",function(e) {
        e.preventDefault(); // cancel the link itself
        $.post(this.href,function(data) {
            $("#someContainer").html(data);
        });
    });
});
{% endblock %}