<!-- list_zoos.html -->
{% extends "layouts/base.html" %}
{% load staticfiles %}
{% block page_title %}Zoos{% endblock %}
{% block jumbotron_name %}Zoos{% endblock %}
{% block jumbotron_description %}Find a zoo{% endblock %}

{% block content %}
<br>
<table id="pagination" class="table table-striped table-bordered hide" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {% for zoo in list_zoos %}
        <tr>
            <td><a href="" class="zoo-link">{{ zoo.zoo_name }}</a></td>
            <td>
                {{ zoo.address }}<br>
                {{ zoo.city }}, {{ zoo.state.state }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}
