<!-- species.html -->

{% extends "layouts/base.html" %}

{% block page_title %}{{ species_name }}{% endblock %}

{% block jumbotron_name %}{{ species_name }}{% endblock %}
{% block jumbotron_description %}{{ species.species }}{% endblock %}

{% block content %}

<h3>Classification</h3>
<strong>Class<strong> {{ species.classis }}<br>
<strong>Order<strong> {{ species.ordo }}<br>
<strong>Family<strong> {{ species.familia }}<br>
<strong>Genus<strong> {{ species.genus }}

<h3>Information</h3>
<strong>Region:<strong> {{ species.region }}<br>
<strong>Habitat:<strong> {{ species.habitat }}<br>
<strong>Lifespan:<strong> {{ species.lifespan }} years<br>
<strong>Status:</strong> {{ species.status }}

{% endblock %}
