<!-- species.html -->
{% extends "layouts/base.html" %}
{% load staticfiles %}
{% block page_title %}{{ species_name }}{% endblock %}
{% block jumbotron_name %}{{ species_name }}{% endblock %}
{% block jumbotron_description %}{{ species.species }}{% endblock %}

{% block css %}
<style>
.half {
    width: 300px;
    margin: auto;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
#t0 {
    background-color: #bbd29b;
}
#t1 {
    background-color: #aac782;
}
#t2 {
    background-color: #99bc69;
}
#t3 {
    background-color: #88b150;
}
#t4 {
    background-color: #76a637;
}
#t5 {
    background-color: #669b1e;
}
</style>
{% endblock %}

{% block content %}
<br>
<img class="fit" src="/static/img/red-list/{{ species.status.status }}.png">

<div class="center">
{% if other_names %}
    <h3>Other Common Names</h3>
    <hr>
    {% for name in other_names %}
    <p>{{ name }}</p>
    {% endfor %}
{% endif %}

<h3>Classification</h3>
<hr>
<table class="table table-bordered half">
    <tr id="t0">
        <td class="col-xs-4 right"><strong> Kingdom </strong></td>
        <td class="col-xs-8 left"> {{ species.family.kingdm }} </td>
    </tr>
    <tr id="t1">
        <td class="right"><strong> Phylum </strong></td>
        <td class ="left"> {{ species.family.phylm }} </td>
    </tr>
    <tr id="t2">
        <td class="right"><strong>  Class </strong></td>
        <td class="left"> {{ species.family.clss }} </td>
    </tr>
    <tr id="t3">
        <td class="right"><strong>  Order </strong></td>
        <td class="left"> {{ species.family.ordr }} </td>
    </tr>
    <tr id="t4">
        <td class="right"><strong>  Family </strong></td>
        <td class="left"> {{ species.family.family }} </td>
    </tr>
    <tr id="t5">
        <td class="right"><strong>  Genus </strong></td>
        <td class="left"> {{ species.genus }} </td>
    </tr>
</table>

<h3>Information</h3>
<hr>
<strong>Region:</strong> {{ species.region }}<br>
<strong>Habitat:</strong> {{ species.habitat }}<br>
<strong>Status:</strong> {{ species.status.status }}<br>

<br>
<input type="hidden" value="{{ species.species }}" name="update">
<a href="update/" class="btn btn-default">Update</a>
</div>

<br>

{% if list_zoos %}
    <h3>Zoo Exhibits</h3>
    {% if use_pagination == 1 %}
    <table id="pagination" class="table table-striped table-bordered hide" cellspacing="0" width="100%">
    {% else %}
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    {% endif %}
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for zoo in list_zoos %}
            <tr>
                <td><a href="" class="zoo-link">{{ zoo.0 }}</a></td>
                <td>
                    {{ zoo.3 }}<br>
                    {{ zoo.1 }}, {{ zoo.2 }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if related_species %}
<h3>Related Species</h3>
{% for species in related_species %}
<p><a href="" class="species-link">{{ species.0 }}</a></p>
{% endfor %}
{% endif %}
<h3>Similar Species</h3>
{% if similar_species %}
    {% for species in similar_species %}
    <p><a href="" class="species-link">{{ species.0 }}</a></p>
    {% endfor %}
{% else %}
    <p> No similar species found! </p>
{% endif %}
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}
