<!-- update_exhibit.html -->

{% extends "layouts/base.html" %}

{% block page_title %}Add Species{% endblock %}

{% block jumbotron_name %}
    {% if operation == 'add' %}
        Add species
    {% elif operation == 'remove' %}
        Remove species
    {% endif %}
{% endblock %}
{% block jumbotron_description %}
    {% if operation == 'add' %}
        Add species to the exhibits of {{ zoo.zoo_name }}.
    {% elif operation == 'remove' %}
        Remove species from the exhibits of {{ zoo.zoo_name }}.
    {% endif %}
{% endblock %}

{% block content %}

<br>
<form method="post">{% csrf_token %}
    <input class="btn btn-default" type="submit" name="operation" value="
        {% if operation == 'add' %}
            Add Selected Species
        {% elif operation == 'remove' %}
            Remove Selected Species
        {% endif %}
    "/><br><br>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Select</th>
            <th>Species</th>
            <th>Common Name</th>
        </tr>
        {% for species in list_species %}
        <tr>
            <td><input type="checkbox" value="{{ species.0 }}" name="species"></td>
            <td>{{ species.0 }}</td>
            <td>{{ species.1 }}</td>
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}
