<!-- update_species.html -->

{% extends "layouts/base.html" %}

{% block page_title %}Update {{ species_name }}{% endblock %}

{% block jumbotron_name %}Update {{ species_name }}{% endblock %}
{% block jumbotron_description %}Update species information.{% endblock %}

{% block content %}
<br>
<div class="container">
    <form method="post">{% csrf_token %}
        <h3>Classification</h3>
        <strong>Species </strong><input name="species" type="text" class="form-control" value="{{ species.species }}"><br>
        <strong>Common Name(s) </strong><input name="common_name" type="text" class="form-control" value="{{ species.common_name }}"><br>
        <strong>Family </strong><input name="family" type="text" class="form-control" value="{{ species.family }}"><br>
        <strong>Genus </strong><input name="genus" type="text" class="form-control" value="{{ species.genus }}"><br>

        <h3>Information</h3>
        <strong>Region: </strong><input name="region" type="text" class="form-control" value="{{ species.region }}"><br>
        <strong>Habitat: </strong><input name="habitat" type="text" class="form-control" value="{{ species.habitat }}"><br>
        <strong>Status: </strong><input name="status" type="text" class="form-control" value="{{ species.status.status }}"><br>

        <button type="submit" class="btn btn-default">Update</button>
    </form>
</div>
{% endblock %}
