<!-- update_zoo.html -->
{% extends "layouts/navbar.html" %}
{% block page_title %}Update {{ zoo.zoo_name }}{% endblock %}
{% block jumbotron_name %}Update {{ zoo.zoo_name }}{% endblock %}
{% block jumbotron_description %}Update zoo information{% endblock %}

{% block content %}
<form method="post">{% csrf_token %}
    <h3>Basic Information</h3>
    <div class="form-group row">
        <div class="col-lg-8 col-sm-6 col-xs-12">
            <strong>Zoo Name: </strong><input name="zoo_name" type="text" class="form-control" value="{{ zoo.zoo_name }}" maxlength="100" required>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-6">
            <label><strong>Opens At: </strong></label><br>
            <select name="open_hour">
            {% for hour in hours %}
                {% if hour != open_hour %}
                    <option >{{ hour }}</option>
                {% else %}
                    <option selected>{{ hour }}</option>
                {% endif %}
            {% endfor %}
            </select>
            :
            <select name="open_minute">
            {% for minute in minutes %}
                {% if minute != open_minute %}
                    <option >{{ minute }}</option>
                {% else %}
                    <option selected>{{ minute }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <select name="open_period">
            {% for period in periods %}
                {% if period != open_period %}
                    <option >{{ period }}</option>
                {% else %}
                    <option selected>{{ period }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-6">
            <label><strong>Closes At: </strong></label><br>
            <select name="close_hour">
            {% for hour in hours %}
                {% if hour != close_hour %}
                    <option >{{ hour }}</option>
                {% else %}
                    <option selected>{{ hour }}</option>
                {% endif %}
            {% endfor %}
            </select>
            :
            <select name="close_minute">
            {% for minute in minutes %}
                {% if minute != close_minute %}
                    <option >{{ minute }}</option>
                {% else %}
                    <option selected>{{ minute }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <select name="close_period">
            {% for period in periods %}
                {% if period != close_period %}
                    <option >{{ period }}</option>
                {% else %}
                    <option selected>{{ period }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <strong>Website: </strong><input name="website" type="text" class="form-control" value="{{ zoo.website }}" maxlength="100" required>
        </div>
    </div>
    <h3>Location</h3>
    <div class="form-group row">
        <div class="col-md-7 col-sm-6 col-xs-12">
            <strong>Address: </strong><input name="address" type="text" class="form-control" value="{{ zoo.address }}" maxlength="100" required>
        </div>
        <div class="col-sm-4 col-xs-10">
            <strong>City: </strong><input name="city" type="text" class="form-control" value="{{ zoo.city }}" maxlength="50" required>
        </div>
        <div class="col-sm-1 col-xs-2">
            <label><strong>State: </strong></label><br>
            <select name="state">
            {% for state in states %}
                {% if state != zoo.state.abbrv %}
                    <option >{{ state }}</option>
                {% else %}
                    <option selected>{{ state }}</option>
                {% endif %}
            {% endfor %}
            </select>            
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-6">
            <strong>Latitude: </strong><input name="latitude" type="number" class="form-control" value="{{ zoo.latitude }}" required>
        </div>
        <div class="col-xs-6">
            <strong>Longitude: </strong><input name="longitude" type="number" class="form-control" value="{{ zoo.longitude }}" required>
        </div>
    </div>
    <h3>Statistics</h3>
    <div class="form-group row">
        <div class="col-sm-4 col-xs-6">
            <strong>Number of Animals: </strong><input name="num_animals" type="number" class="form-control" value="{{ zoo.num_animals }}" required>
        </div>
        <div class="col-sm-4 col-xs-6">
            <strong>Number of Annual Visitors: </strong><input name="annual_visitors" type="number" class="form-control" value="{{ zoo.annual_visitors }}" required>
        </div>
        <div class="col-sm-4 col-xs-12">
            <strong>Acres: </strong><input name="acres" type="number" class="form-control" value="{{ zoo.acres }}" required>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-12">
            <input class="btn btn-default" type="submit" name="update" value="Update"/>
        </div>
    </div>
</form>
{% endblock %}
