<!-- zoo.html -->

{% extends "layouts/base.html" %}

{% block page_title %}{{ zoo.zoo_name }}{% endblock %}

{% block jumbotron_name %}{{ zoo.zoo_name }}{% endblock %}
{% block jumbotron_description %}More information.{% endblock %}

{% block content %}

<h3>Basic Information</h3>
{{ zoo.address }}<br>
{{ zoo.city }}, {{ zoo.state }}<br>
<strong>Hours:</strong> {{ zoo.hour_open }} - {{ zoo.hour_close }}<br>


<h3>Statistics</h3>
<strong>Number of Animals:<strong> {{ zoo.num_animals }}<br>
<strong>Annual Visitors:<strong> {{ zoo.annual_visitors }}
<strong>Acres:</strong> {{ zoo.acres }}<br>

<h3>Exhibits</h3>
<form name="update" method="post">{% csrf_token %}
    <input type="submit" name="delete" value="Delete Items" />
    <table class="table table-striped table-bordered">
        <tr>
            <th>Select</th>
            <th>Species</th>
            <th>Common Name</th>
        </tr>
        {% for species in list_species %}
        <tr>
            <td><input type="checkbox" value="{{ species.id }}" name="species"></td>
            <td><a href="/species/{{ species.id }}">{{ species.species }}</a></td>
            <td>{{ species.common_name }}</td>
        </tr>
        {% endfor %}
    </table>
</form>
<h3>More Information</h3>
<a href="{{ zoo.website }}">{{ zoo.zoo_name }} Official Website</a>

{% endblock %}
