<!-- zoo.html -->

{% extends "layouts/base.html" %}

{% block page_title %}{{ zoo.zoo_name }}{% endblock %}

{% block jumbotron_name %}{{ zoo.zoo_name }}{% endblock %}
{% block jumbotron_description %}More information.{% endblock %}

{% block content %}

<h3>Basic Information</h3>
{{ zoo.address }}<br>
{{ zoo.city }}, {{ zoo.state }}<br>
<strong>Hours:</strong> {{ zoo.hour_open }} - {{ zoo.hour_close }}<br>

<h3>Statistics</h3>
<strong>Number of Animals:</strong> {{ zoo.num_animals }}<br>
<strong>Annual Visitors:</strong> {{ zoo.annual_visitors }}<br>
<strong>Acres:</strong> {{ zoo.acres }}<br>

<br>
<a href="/zoo/{{ zoo.id }}/update/" class="btn btn-default">Update</a>
<br>

<h3>Species Exhibits</h3>
<form method="post" id="species_form">{% csrf_token %}
    <input class="btn btn-default" type="submit" name="add" value="Add Species"/>
    <input class="btn btn-default" type="submit" name="remove" value="Remove Species"/><br><br>
</form>
<table id="pagination" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Scientific Name</th>
            <th>Common Name</th>
        </tr>
    </thead>
    <tbody>
        {% for species in list_species %}
        <tr>
            <td>{{ species.0 }}</td>
            <td>{{ species.1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3>More Information</h3>
<a href="{{ zoo.website }}">{{ zoo.zoo_name }} Official Website</a>

{% endblock %}

{% block js %}
<script>

function redirect(species) {
    var _species = species.replace(/ /g,'_');
    window.location.replace('/species/'+_species+'/');
}
$(document).ready(function() {
    $('#pagination').DataTable();
} );
</script>
{% endblock %}
