<!-- zoo.html -->
{% extends "layouts/base.html" %}
{% load staticfiles %}
{% block page_title %}{{ zoo.zoo_name }}{% endblock %}
{% block jumbotron_name %}{{ zoo.zoo_name }}{% endblock %}
{% block jumbotron_description %}More information{% endblock %}

{% block content %}
<br>
<div class="center">
<h3>Information</h3>
<hr>
<strong>Address</strong><br>
{{ zoo.address }}<br>
{{ zoo.city }}, {{ zoo.state.abbrv }}<br>
<br><strong>Hours</strong><br> {{ time_open }} - {{ time_close }}<br>
<br><strong><a href="{{ zoo.website }}"> Official Website</a></strong><br>
<br>
<h3>Statistics</h3>
<hr>
<strong>Number of Animals</strong><br> {{ zoo.num_animals }}<br>
<br><strong>Annual Visitors</strong><br> {{ zoo.annual_visitors }}<br>
<br><strong>Acres</strong><br> {{ zoo.acres }}<br>

<br>
<a href="update/" class="btn btn-primary">Update</a>
</div>

<br>

{% if list_species %}
<h3>Species Exhibits</h3>
<hr>
{% if use_pagination == 1 %}
<table id="pagination" class="table table-striped table-bordered" cellspacing="0" width="100%">
{% else %}
<table class="table table-striped table-bordered hide" cellspacing="0" width="100%">
{% endif %}
    <thead>
        <tr>
            <th>Scientific Name</th>
            <th>Common Name</th>
        </tr>
    </thead>
    <tbody>
        {% for species in list_species %}
        <tr>
            <td><a href="" class="species-link">{{ species.0 }}</a></td>
            <td class="common_name">{{ species.1 }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<hr>
<div class="center">
    <a href="add/" class="btn btn-primary">Add</a>
    <a href="remove/" class="btn btn-secondary">Remove</a>
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="{% static 'js/pagination.js' %}"></script>
{% endblock %}
