/* 
    custom.css
    description: custom css style
    created by: ann keenan
*/

.navbar {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

footer {
    font-family: 'Lato', sans-serif;
}

section {
    font-family: 'Roboto', sans-serif;
}

.jumbotron {
    margin-top: 50px;
    max-height: 175px;
    margin-left: 50px;
}
